<script>
    document.write(new Date().getFullYear());
  </script>
  C-Chat | Made In
  <img
    style="width: 25px"
    src="/images/india-flag.svg"
    alt=""
  />
  | Developed By
  <a
    style="text-decoration: underline !important; color: #495057"
    href="laxmanpal.netlify.app"
    >Laxman Pal</a
  >
</p>
</div>
</div>
</div>
</div>
</div>
<!-- end account-pages -->

<!-- JAVASCRIPT -->
<script src="/libs/jquery/jquery.min.js"></script>
<script src="/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/libs/simplebar/simplebar.min.js"></script>
<script src="/libs/node-waves/waves.min.js"></script>

<script src="/js/app.js"></script>
</body>
</html>
