</div><!-- end row -->

<div class="row">
    <div class="col-xl-12">
        <div class="text-center text-muted p-4">
            <p class="mb-0">&copy;
                <script>document.write(new Date().getFullYear())</script> C-Chat | Made In
                India <img style="width: 30px;" src="images/india-flag.svg" alt="">
            </p>
        </div>
    </div><!-- end col -->
</div><!-- end row -->

</div>
</div>
</div>
<!-- end col -->
</div>
<!-- end row -->
</div>
<!-- end container-fluid -->
</div>
<!-- end auth bg -->

<!-- JAVASCRIPT -->
<script src="libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="libs/simplebar/simplebar.min.js"></script>
<script src="libs/node-waves/waves.min.js"></script>
<!-- validation init -->
<script src="js/pages/validation.init.js"></script>

<!-- theme-style init -->
<script src="js/pages/theme-style.init.js"></script>

<script src="js/app.js"></script>

</body>

</html>