<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title><%= title %> | C-Chat 2.0.0</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta
        content="C-Chat - Responsive Chat App Template in HTML. A fully featured HTML chat messenger template in Bootstrap 5"
        name="description" />
    <meta name="keywords"
        content="C-Chat chat template, chat, web chat template, chat status, chat template, communication, discussion, group chat, message, messenger template, status" />
    <meta content="Themesbrand" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="images/c-chat-favicon.png" id="tabIcon">


    <!-- Bootstrap Css -->
    <link href="css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="css/icons.min.css" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />


</head>

<body>

    <div class="auth-bg">
        <div class="container-fluid p-0">
            <div class="row g-0">
                <div class="col-xl-3 col-lg-4">
                    <div class="p-4 pb-0 p-lg-5 pb-lg-0 auth-logo-section">
                        <div style="background-color: rgb(255 255 255); padding: 15px; border-radius: 10px;"
                            class="text-white-50">
                            <h3>
                                <a href="index.html" class="">
                                    <!-- <i class="bx bxs-message-alt-detail align-middle text-white h3 mb-1 me-2"></i> -->
                                    <img width="30px" src="images/chatIcon.png" alt="">
                                    C-Chat</a></h5>
                                <p style="color: #2393f3;" class="font-size-16 mb-0">Wellcome to C-Chat 2.0.0</p>
                        </div>
                        <div class="mt-auto">
                            <img src="images/auth-img.png" alt="" class="auth-img">
                        </div>
                    </div>
                </div>
                <!-- end col -->
                <div class="col-xl-9 col-lg-8">
                    <div class="authentication-page-content">
                        <div class="d-flex flex-column h-100 px-4 pt-4">
                            <div class="row justify-content-center my-auto">